.TableClientsColumnName {
    width: 37%;
}

.TableClientsColumnPrice {
    max-width: 120px;
}

.TableClientsSearchInput {
    margin-top: 8px !important;
    min-width: 100px;
    max-width: 150px;
}

.ClientsContainer {
    margin: 10px;
    max-width: 600px;
}

.ClientsDialogStack {
    padding: 0 24px 0 4px;
}

.ClientsTable {
    max-height: 450px;
}
.ClientsDialogButton {
    margin-left: 20px !important;
    width: 45%;
    margin-bottom: 24px !important;
}

.ClientsLowerTextField {
    margin-top: 20px !important;
    cursor: default !important;
}

.ClientsTableFooter {
    position: sticky;
    inset-block-end: 0 !important;
    background-color: #121212;
    width: 100px;
}