.TableClientsColumnName {
    width: 37%;
}

.TableClientsColumnPrice {
    max-width: 120px;
}

.ClientsTable {
    max-height: 600px;
}

.ClientTableHeadDetails {
    width: 0;
}

.ClientTableHeadName {
    width: 50%;
    padding-left: 0 !important;
}

.ClientTableHeadSurname {
    width: 50%;
}

.ClientTableHeadActions {
    min-width: 95px !important;
    max-width: 100px !important;
}

.HiddenRow {
    display: none !important;
}

.ClientTableDetailsCell {
    padding: 10px !important;
}

.ClientTableNameCell {
    padding-left: 0 !important;
}

.ClientHiddenRowDatePicker {
    margin-top: 8px !important;
}

.ClientDialogContainer {
    overflow: hidden !important;
}