.TableClientsColumnName {
    width: 37%;
}

.TableClientsColumnPrice {
    max-width: 120px;
}

.ClientsTable {
    max-height: 650px;
}

.ClientTableHeadDetails {
    width: 0;
}

.ClientTableHeadName {
    width: 50%;
}

.ClientTableHeadSurname {
    width: 50%;
}

.ClientTableHeadActions {
    min-width: 95px !important;
}

.HiddenRow {
    display: none !important;
}