.TableFooter {
    position: sticky;
    inset-block-end: 0px !important;
    z-index: 2;
}

.ComponentContainer {
    margin: 10px;
    max-width: 600px;
    padding: 10px;
}

.DialogStack {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
}

.DialogButton {
    width: 47%;
    margin-bottom: 24px !important;
}

.TableSearchInput {
    max-width: 50%;
}

.DialogLowerTextField {
    margin-top: 24px !important;
}

.MuiTablePagination-spacer {
    display: none !important;
}

.MuiTablePagination-displayedRows {
    margin-left: auto;
}

.SkeletonTableRow {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
}

.DialogDatePicker {
    width: 100%;
}

.NoTopMargin {
    margin-top: 4px !important;
}